.card {
    margin: 10px;
    padding: 10px;
    border: 5px solid;
    border-color: #608AF5;
    border-radius: 10px;
    background: white;
    border-style: dotted solid solid dotted;
}

.asset-image {
    padding: 10px;
}

.title{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    align-items: center;
}

.texto{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    text-align: center;
}