.App-header {
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;

}

.text{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.h1{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.h2{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.h3{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}